<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.theveloper.pixelplay.presentation.navidrome.auth.NavidromeLoginActivity"
            android:exported="false"
            android:label="Navidrome Login"
            android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>
